<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>虚颜栏目</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="./view/css/login2.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>虚颜-添加栏目<sup>2017</sup></h1>

<div class="login" style="margin-top:50px;">
    
    <div class="header">
        <div class="switch" id="switch"><a class="switch_btn_focus" id="switch_qlogin" href="javascript:void(0);" tabindex="7">添加栏目</a>
        </div>
    </div>    
  
    
    <div class="web_qr_login" id="web_qr_login" style="display: block; height: 235px;">    

            <!--登录-->
            <div class="web_login" id="web_login">
               <div class="login-box">
			<div class="login_form">
				<form action="" name="loginform" accept-charset="utf-8" id="login_form" class="loginForm" method="post"><input type="hidden" name="" value="0"/>
               <!-- <input type="hidden" name="to" value="log"/> -->
                <div class="uinArea" id="uinArea">
                <label class="input-tips" for="u">栏目：</label>
                <div class="inputOuter" id="uArea">
                    
                    <input type="text" id="u" name="catname" class="inputstyle"/>
                </div>
                </div>
             <!--    <div class="pwdArea" id="pwdArea">
               <label class="input-tips" for="po">密码：</label> 
               <div class="inputOuter" id="pArea">
                    
                    <input type="password" id="p" name="password" class="inputstyle"/>
                </div>
                </div> -->
               
                <div style="padding-left:50px;margin-top:20px;"><input type="submit" value="添加" style="width:150px;" class="button_blue"/></div>
              </form>
           </div>
           
            	</div>
               
            </div>
            <!--登录end-->
  </div>
</div>
<footer class="bottom">
    <p>Copyright &copy; 2017 · GeneratePress · WordPress<br>
    <a href="">地址:北京市昌平区布尔教育28期青云童学 邮箱:vip18801115032@163.com</a></p>
  </footer>
</body></html>